/************client css start***************/
.client_logo{
    .single_client_logo{
        display: flex;
        align-items: center;
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
    .single_client_logo{
        height: 150px;
        img{
            margin: 0 auto;
        }

    }
}